.div_global{
    display: grid;
    grid-template-columns: 10% 90%;

    margin-top: 4em;
}

.div_circle2{
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;

    width: 5em;
    height: 5em;
    background-color: #d4b80349;
}

.div_circle2 span{
    color: rgba(0, 0, 0, 0.498);
    font-size: 2em;
}

.div_name{
    display: flex;

    align-items: center;
    gap: 0.3em;
}

.div_name h3{
    font-size: 1.3em;

    margin: 0;
}

.div_text p{
    color: rgba(0, 0, 0, 0.581);
}

.div_options{
    display: flex;
    gap: 0.6em;

    align-items: center;
    margin-top: 3em;

    color: rgba(0, 0, 0, 0.552);
}

.hr{
    width: 60vw;
    height: 1px;

    border-radius: 1px;

    margin-top: 1em;
    background-color: rgba(0, 0, 0, 0.259);
}