.div_global{
    display: grid;
    grid-template-columns: 55% 45%;
    padding: 4em 5em 5em 5em;
}

.div_global img{
    width: 90%;
}

.div_text h4 {
    font-family: 'Petit Formal Script', cursive;    
    color: #D4B703;

    font-size: 1.5em;

    margin-bottom: 0px;
}

.div_text h2 {
    color: rgba(0, 0, 0, 0.669);
    font-size: 3.5em;

    font-weight: 500;

    margin: 0px 0px 1.3em 0px;
}

.div_text p {
    width: 60%;

    color: rgba(0, 0, 0, 0.61);
    font-size: 0.8em;
}

.div_text button{
    border: none;
    border-radius: 10px;

    background-color: #2b8f03aa;
    color: white;

    font-weight: 300;

    padding: 1em;
    margin: 1.2em 0 2em 0.2em;

    transition: background-color 0.3s ease;
}

.div_text button:hover{
    background-color: #2b8f037c;
}

.div_social{
    display: flex;

    font-size: 2em;

    gap: 10px;
}

.star_1{
    position: absolute;

    margin-left: 15em;

    font-size: 2em;

    color: rgba(0, 0, 0, 0.549);
}

.star_2{
    position: absolute;

    margin-left: 17em;
    margin-top: -5em;
    font-size: 1em;

    color: rgba(0, 0, 0, 0.549);
}

.star_3{
    position: absolute;

    font-size: 1.5em;

    margin-top: 21em;
    margin-left: -5em;

}

.div_title{
  display: flex;

  justify-content: center;
  font-size: 0.8em;
}

.title_yellow{
  color:#D4B703
}

.title_green{
  color: #2A8F03
}

.div_navbar{
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: default;

  font-weight: bold;

  color: rgba(0, 0, 0, 0.631);
}

.div_navbar ul{
  display: flex;
  list-style: none;

  gap:20%;
  margin-left: -7.3em;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #d4b8030a;

  padding-top: 1em;
  margin-top: 14em;
}

.div_app{
  display: flex;

  justify-content: center;

  gap: 2em;
}

.appIcon{
  font-size: 3em;
  cursor: pointer;
}

.div_footer__content{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.div_footer__content p {
  color: rgba(0, 0, 0, 0.644);
  font-weight: 200;
}